@media only screen and (max-width:1200px){
    .header{
        width: 140rem;
    }
    .main-display__body-left {
        padding-left: 10rem;
    }
    .main-display__top {
        padding-left: 10rem;
    }
    .about__items {
        padding-left: 8rem;
        margin-right: -10rem;
    }
    .review {
        width: 140rem;
    }
    .footer {
        width: 130rem;
    }
}